subscription_id      = ""
resource_group_name  = ""
storage_account_name = ""
container_name       = ""
key                  = "terraform.tstate"
client_id            = ""
client_secret        = ""
tenant_id            = ""
